<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.categoryQuota.home.title">Category Quotas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-category-quota" [routerLink]="['/category-quota/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterApp.categoryQuota.home.createLabel">
            Create new Category Quota
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="categoryQuotas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterApp.categoryQuota.quota">Quota</span></th>
            <th><span jhiTranslate="jhipsterApp.categoryQuota.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categoryQuota of categoryQuotas ;trackBy: trackId">
                <td><a [routerLink]="['/category-quota', categoryQuota.id, 'view' ]">{{categoryQuota.id}}</a></td>
                <td>{{categoryQuota.quota}}</td>
                <td>
                    {{categoryQuota.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/category-quota', categoryQuota.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/category-quota', categoryQuota.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'category-quota', { outlets: { popup: categoryQuota.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
