<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.productQuota.home.title">Product Quotas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-quota" [routerLink]="['/product-quota/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterApp.productQuota.home.createLabel">
            Create new Product Quota
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productQuotas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterApp.productQuota.quota">Quota</span></th>
            <th><span jhiTranslate="jhipsterApp.productQuota.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productQuota of productQuotas ;trackBy: trackId">
                <td><a [routerLink]="['/product-quota', productQuota.id, 'view' ]">{{productQuota.id}}</a></td>
                <td>{{productQuota.quota}}</td>
                <td>
                    {{productQuota.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-quota', productQuota.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-quota', productQuota.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-quota', { outlets: { popup: productQuota.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
