<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="addressQuota">
            <h2><span jhiTranslate="jhipsterApp.addressQuota.detail.title">Address Quota</span> {{addressQuota.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.addressQuota.quota">Quota</span></dt>
                <dd>
                    <span>{{addressQuota.quota}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.addressQuota.user">User</span></dt>
                <dd>
                    {{addressQuota.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address-quota', addressQuota.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
